body {
    &.HomeRoute {
        .wd-browsing-product-carousel {
            .wd-product-list {
                ul {
                    li {
                        .item-description {
                            display: none;
                        }
                        .media {
                            .floating-actions {
                                display: flex;
                                direction: rtl;
                                button {
                                    &.espiar {
                                        left: -5px;
                                    }
                                }
                                a {
                                    &.btn-add-product-wishlist {
                                        left: 25px !important;
                                        right: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wd-browsing-product-carousel {
    .wd-product-list {
        ul {
            li {
                &:hover {
                    .floating-actions {
                        a {
                            &.btn-add-product-wishlist {
                                display: block !important;
                            }
                        }
                    }
                }
                .media {
                    .floating-actions {
                        button {
                            &.espiar {
                                margin-bottom: 10px;
                                width: 99px;
                                height: 35px;
                                font-size: 0;
                                &::before {
                                    content: "Quick View";
                                    text-transform: uppercase;
                                    display: block;
                                    font-size: 12px;
                                    font-weight: 900;
                                    letter-spacing: 3%;
                                }
                            }
                        }
                        a {
                            &.btn-add-product-wishlist {
                                background-color: white;
                                display: none;
                                width: 35px;
                                height: 35px;
                                background-image: none;
                                right: 11px;
                                i {
                                    color: black;
                                }
                                &:after {
                                    content: "";
                                    display: block;
                                    background-image: url(//d3p6fknh6dkh4d.cloudfront.net/Custom/Content/Themes/Estoque/Imagens/sprite.png?no-cache);
                                    background-position: -96px -122px;
                                    left: 10px;
                                    top: 11px;
                                    position: absolute;
                                    width: 16px;
                                    height: 15px;
                                }
                                &:hover {
                                    background-color: #e6e6e6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

[class*="grid-"] {
    #content-wrapper {
        .page-description {
            margin-bottom: 20px;
            .wrapper {
                display: flex;
                .col-lg-8 {
                    padding: 0;
                }
                @media screen and(max-width: 768px) {
                    flex-direction: column;
                    .col-lg-8 {
                        padding: 0 15px;
                    }
                }
                .text-category {
                    text-align: left;
                    h1 {
                        text-align: left;
                    }
                    p {
                        span {
                            font-size: 13px !important;
                            color: black;
                        }
                    }
                }
                #botao-menos-banners {
                    @media screen and(max-width: 1024px) {
                        display: none;
                    }
                    span {
                        background-image: url(/custom/content/themes/Shared/Assets/johnjohn/Images/arrow-banner.svg);
                        background-repeat: no-repeat;
                        background-size: 40%;
                        height: 45px;
                        display: block;
                        font-size: 0;
                        margin: 0 auto;
                        width: 30px;
                        position: absolute;
                        top: 94.1%;
                        left: -60px;
                    }
                }
                #botao-mais-banners {
                    @media screen and(max-width: 768px) {
                        display: none;
                    }
                    span {
                        background-image: url(/custom/content/themes/Shared/Assets/johnjohn/Images/arrow-banner.svg);
                        background-repeat: no-repeat;
                        transform: rotate(180deg);
                        background-size: 40%;
                        height: 45px;
                        display: block;
                        font-size: 0;
                        margin: 0 auto;
                        width: 30px;
                        position: absolute;
                        top: 89%;
                        left: -40px;
                    }
                }
                ul {
                    &.slider-controller {
                        display: none !important;
                    }
                }
            }
        }
        .listagem-conteudo {
            display: flex;
            .left {
                @media screen and(max-width: 768px) {
                    width: 0;
                }
                width: 210px;
                margin: 0;
                padding: 0;
                h2 {
                    font-size: 11px;
                    text-align: left;
                }
                .menu-facetado {
                    height: 0;
                    padding: 0;
                    .wd-facet-group {
                        .selected-facets {
                            position: absolute;
                            left: 241px;
                            top: 40px;
                            background: transparent;
                            border: 0;
                            &.show {
                                display: block;
                                z-index: 1;
                                &::before {
                                    content: "";
                                    display: none;
                                }
                                .facet-type-selected {
                                    display: flex;
                                    .selected-facet {
                                        .selected-facet-name {
                                            display: none;
                                        }
                                        border: 0;
                                        border-radius: 0;
                                        margin: 0;
                                        ul {
                                            display: flex;
                                            padding: 0;
                                            li {
                                                text-align: center;
                                                line-height: 35px;
                                                color: black;
                                                border: 1px solid black;
                                                width: 120px;
                                                height: 35px;
                                                margin-right: 10px;
                                                span {
                                                    &.clear-filter {
                                                        top: 8px;
                                                        font-size: 18px;
                                                        &:hover {
                                                            color: black;
                                                        }
                                                    }
                                                    &.option-label {
                                                        text-transform: uppercase !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.hidden {
                                display: none !important;
                            }
                        }
                    }
                    .facetas {
                        h2 {
                            display: none;
                        }
                        .facets {
                            .facet-type:nth-child(1) {
                                border-top: 1px solid black;
                            }
                            .facet-type {
                                width: 100%;
                                margin: 0;
                                border-left: 1px solid black;
                                border-right: 1px solid black;
                                border-bottom: 1px solid black;
                                position: initial;
                                &.size {
                                    ul {
                                        display: grid;
                                        grid-template-columns: repeat(5, 1fr);
                                        li {
                                            a {
                                                span {
                                                    text-align: center;
                                                    &.option-title {
                                                        width: 30px;
                                                        height: 30px;
                                                        border: 1px solid black;
                                                        line-height: 29px;
                                                    }
                                                    &.option-count {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.cor-faceta {
                                    ul {
                                        li {
                                            a {
                                                text-decoration: none;
                                                span {
                                                    &.markup-color {
                                                        border-radius: 50%;
                                                    }
                                                    &.option-count {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .facet-type-list {
                                    .facet-title {
                                        border: 0;
                                        background-color: transparent;
                                        color: black;
                                        padding-top: 14px;
                                        h3 {
                                            text-transform: uppercase;
                                        }
                                        &::after {
                                            content: "";
                                            background-image: url(/custom/content/themes/Shared/Assets/johnjohn/Images/less-icon.png);
                                            background-repeat: no-repeat;
                                            display: block;
                                            width: 15px;
                                            height: 15px;
                                            top: 6px;
                                            right: -9px;
                                        }
                                        &.facet-closed {
                                            &::after {
                                                content: "";
                                                background-image: url(/custom/content/themes/Shared/Assets/johnjohn/Images/more-icon.png);
                                                background-repeat: no-repeat;
                                                display: block;
                                                width: 15px;
                                                height: 15px;
                                                top: 4px;
                                                right: -9px;
                                            }
                                        }
                                    }
                                    ul {
                                        width: 100%;
                                        position: inherit;
                                        border: 0;
                                        li {
                                            padding: 0;
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .mobile-control {
                        #showFacets {
                            background-color: white;
                            border: 1px solid black;
                            color: black;
                        }
                    }
                }
                .shopby {
                    // padding-bottom: 20px;
                    // padding-bottom: 20px;
                }
            }
            .vitrine {
                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding-left: 0;
                }
                width: calc(100% - 210px);
                float: right;
                clear: none;
                padding-left: 30px;
                padding-top: 0;
                border: 0;
                .wd-browsing-grid {
                    width: 100%;
                    header {
                        padding-top: 0;
                        padding-bottom: 40px !important;
                    }
                    .wd-header {
                        display: none;
                    }
                    .wd-content {
                        .select-grid {
                            .five-columns {
                                border-left: 1px solid black;
                            }
                            .selected {
                                span {
                                    background-color: black;
                                }
                            }
                        }
                        .wd-browsing-grid-pager {
                            .page-count {
                                color: black;
                            }
                            .page-number {
                                display: block;
                            }
                        }
                        .wd-browsing-grid-sorter {
                            width: 210px;
                            select {
                                width: 100%;
                                border: 1px solid black;
                                outline: none;
                                color: black;
                                option {
                                    color: black;
                                }
                            }
                        }
                    }
                    .wd-browsing-grid-list {
                        ul {
                            li {
                                &:hover {
                                    .floating-actions {
                                        a {
                                            &.btn-add-product-wishlist {
                                                display: block !important;
                                            }
                                        }
                                    }
                                }
                                .media {
                                    .wd-product-line-medias {
                                        height: 300px;
                                    }
                                    .floating-actions {
                                        bottom: 10px;
                                        button {
                                            &.espiar {
                                                margin-bottom: 10px;
                                                width: 99px;
                                                height: 35px;
                                                font-size: 0;
                                                &::before {
                                                    content: "Quick View";
                                                    text-transform: uppercase;
                                                    display: block;
                                                    font-size: 12px;
                                                    font-weight: 900;
                                                    letter-spacing: 3%;
                                                }
                                            }
                                        }
                                        a {
                                            &.btn-add-product-wishlist {
                                                background-color: white;
                                                display: none;
                                                right: 11px;
                                                background-image: none;
                                                width: 35px;
                                                height: 35px;
                                                i {
                                                    color: black;
                                                }
                                                &:after {
                                                    content: "";
                                                    display: block;
                                                    background-image: url(//d3p6fknh6dkh4d.cloudfront.net/Custom/Content/Themes/Estoque/Imagens/sprite.png?no-cache);
                                                    background-position: -96px -122px;
                                                    left: 10px;
                                                    top: 11px;
                                                    position: absolute;
                                                    width: 16px;
                                                    height: 15px;
                                                }
                                                &:hover {
                                                    background-color: #e6e6e6;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#showFacets {
    display: none;
}

@media screen and(max-width: 992px) {
    #left {
        width: 0;
        &.active {
            .wd-facet-group {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 99;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
    }
    #showFacets {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 100;
        &:after {
            content: " Filtrar";
        }
        &.active {
            width: 80px;
            bottom: initial;
            top: 0;
            background-color: transparent;
        }
    }
}