.product-detail {
  .variations {
    a {
      &.open-guia-medidas {
        position: relative;
        top: 60px;
      }
    }
    .wd-product-variations {
      .variation-group {
        .options {
          label {
            border: 1px solid black;
            border-color: black !important;
          }
        }
      }
      .subvariation-group {
        .options {
          label {
            border: 1px solid black;
            &.selected {
              background-color: black;
              span {
                b {
                  color: white;
                }
              }
            }
            &.unavailable {
              border: 1px solid #dddddd;
              background-color: #dddddd;
              span {
                b {
                  color: #aaa;
                }
              }
            }
            span {
              b {
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .buy {
    .wd-product-wishlist {
      button {
        &.btn-product-wishlist {
          &.btn-product-wishlist-add {
            border: 1px solid black;
          }
        }
      }
    }
  }
  .delivery {
    .wd-product-deliveryfee {
      form {
        ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: black;
          opacity: 1;
          /* Firefox */
        }
        :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: black;
        }
        ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: black;
        }
        input {
          outline: none;
          border: 1px solid black;
        }
        .button-wrapper {
          button {
            color: black;
          }
        }
        #PostalCode-error {
          position: absolute;
          bottom: 0px;
          font-size: 13px;
          width: 210px;
        }
      }
    }
  }
  .medias {
    .medias-desktop {
      .wd-product-medias-displayer {
        background-color: white;
        border: 0;
      }
      .wd-product-media-selector {
        ul {
          li {
            &.image {
              display: block !important;
            }
          }
        }
      }
    }
  }
  .information {
    .wd-product-price-description {
      .priceContainer {
        .list-price {
          span {
            color: black;
          }
        }
      }
    }
  }
  .description {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .descriptions {
      .LongDescription {
        border-right: 1px solid black;
        .header {
          .title {
            color: black;
          }
        }
      }
    }
    .expandir {
      a {
        background-color: white;
        border: 1px solid black;
      }
    }
  }
  .reviews {
    border-bottom: 1px solid black;
    .wd-product-reviews {
      .wd-content {
        a {
          &.review-create {
            border: 1px solid black;
          }
        }
      }
    }
  }
}

.the-modal {
  a {
    &.close {
      border: 0 !important;
    }
  }
  .the-modal-container {
    background: white !important;
    box-shadow: none !important;
    border: 0 !important;
    .wd-product-reviews {
      .wd-widget {
        .wd-header {
          .wd-title {
          }
        }
        .wd-content {
          .review {
            input,
            textarea {
              outline: none;
              border: 1px solid black;
            }
            ::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: black;
              opacity: 1;
              /* Firefox */
            }
            :-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: black;
            }
            ::-ms-input-placeholder {
              /* Microsoft Edge */
              color: black;
            }
          }
        }
        .wd-footer {
        }
      }
    }
  }
}
